-e .
aws-cdk.aws-apigateway
aws-cdk.aws-dynamodb
aws-cdk.aws-kms
aws-cdk.aws-lambda
aws-cdk.aws-lambda-event-sources
aws-cdk.aws-sqs
behave
boto3
coverage
cryptography
dynamodb-encryption-sdk
requests

# aws-cdk.aws-sqs
# aws-cdk.aws-sns
# aws-cdk.aws-sns-subscriptions
# 
# jsonschema
